.cart-container {
  padding: 100px 20%;
}
.cart-headiing {
  display: flex;
  justify-content: space-between;

  margin-left: 100px;
}
.cart-color {
  border: 2px solid black;
  padding: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.cart-data {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 20px 0px;
}
.cart-image-data {
  display: flex;
}

.item-name {
  margin-top: 0px;
}
.cart-name-color {
  display: flex;
}

.two-cart-btn {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
