.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(231, 228, 228);
  background-color: #f8fcfc;
  position: relative;
  width: 100%;
  text-transform: uppercase;

  margin-top: 0px;
}

.header-links {
  display: flex;
  list-style: none;
}

li {
  margin-left: 10px;
  padding: 20px;

  list-style: none;
  font-size: large;
}

a:hover {
  color: rgb(210, 209, 205);
  border-bottom: 2px solid rgb(161, 152, 132);
}
.header-image {
  margin: 10px;
}
a {
  color: rgb(255, 253, 253);
  text-decoration: none;
}
