.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid rgb(231, 228, 228);
  background-color: #f8fcfc;
  position: relative;
  width: 100%;
  text-transform: uppercase;

  margin-top: 0px;
}

.header-links {
  display: flex;
  list-style: none;
}

li {
  margin-left: 10px;
  padding: 20px;

  list-style: none;
  font-size: large;
}
a {
  color: rgb(53, 53, 52);
  text-decoration: none;
}
a:hover {
  color: rgb(94, 94, 92);
  border-bottom: 2px solid rgb(161, 152, 132);
}
.header-image {
  margin: 10px;
  height: 80px;
  width: 80px;
}

.cart-Items {
  width: auto;
  border: 1px solid black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: medium;
  margin-left: -10px;
  margin-top: -10px;
  background-color: rgb(135, 160, 235);
}
.cart-portion {
  display: flex;
}
.total_Cart_amount {
  background-color: rgb(240, 239, 239);
  width: 20%;
  padding: 10px;
}
.user_Name {
  margin-top: -23.94px;
  text-shadow: 2px 2px 20px;
}
.header_items {
  font-weight: bold;
}
.login_btn {
  color: blue;
}
