.para {
  color: rgb(83, 74, 74);
}

.info-img {
  display: flex;
  position: relative;

  margin: 50px 50px 100px 20%;
}

h1 {
  text-transform: capitalize;
  font-weight: bold;
}
/* .picture:hover {
  transform: scale(1.1, 1.1);
  border-top: 10px solid blue;
  border-right: 10px solid blue;
} */
.picture {
  margin-left: 10%;
}
.emp_box {
  background-color: aqua;
  height: 300px;
  width: 350px;
  position: absolute;
  z-index: -1;
  margin-left: 100px;
  margin-top: -40px;
}
.information h1 {
  text-shadow: 5px 5px 10px;
}
