.card {
  height: auto;
  margin: 20px 0px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 5px;
}
.feature-img {
  margin-top: 10px;
}
.caption {
  background-color: black;
  color: white;
  width: 50%;

  text-align: center;
  border-radius: 50px;
}
.card-data-flex {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 0 10px;
}
.card-data--price {
  color: blue;
}
.card:hover {
  border-radius: 0px;
}
